body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Sen', sans-serif;
    color: #FFF;
    background-color: black;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 18px;
    color: #8491A0;
}


/*Container*/


.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    margin-top: 120px;
}


.container__footer {
    margin-top: 0;
}


/*Intro*/


.header__intro__background{
    background: url(../images/header/backgroud.png);
    background-position: top right;

    background-repeat: no-repeat;
}


.intro {
    width: 100%;
    min-height: 100vh;
    display: flex;
    
}

.intro__info {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;

}


.intro__photo {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 80px;
}

.intro__title{
    position: relative;
    font-weight: 700;
    font-size: 40px;
    padding:220px 42px 220px 660px;
}

.intro__title-gray {
    color: #8491A0;
    font-size: 65px;
    margin-bottom: 30px;
}

.intro__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #FFF;
}

/*Header*/ 


.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    top: 70px;
    padding-left: 70px;
}

/*Nav*/
.nav {

    font-size: 16px; 
}

.nav__link {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 32px 24px;
}

.nav__link:hover {
    background-color: #5221E6;
}

.nav-toggle {
    display: none;
}


/*Nav toggle*/

.nav-toggle {
    width: 30px;
    padding: 18px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 30px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
} 

.nav-toggle__item{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ababab;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 4px;

    background-color: #ababab;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before{
    top: -8px;
}

.nav-toggle__item:after{
  bottom: -8px;  
}



/*Section*/


.section__suptitle {
    font-weight: lighter;
    font-size: 16px;
    text-transform: uppercase;
    color: #8491A0;
    margin-bottom: 8px;
}

.section__title {
    font-size: 55px;
    color: #FFF;
    margin-bottom: 25px;
    /*width: 65%;*/
    font-weight: 700;
}


.section__narrow {
    width: 60%;
}

.section__projects{
    margin-bottom: 80px;
}


/*Work__experience*/

.works {

    display: flex;
    flex-wrap: wrap;
}

.work__experience {
    margin-bottom: 150px;
    margin-top: 15px;
}

.works__item  {
    flex: 1 1 0;
    margin-right: 25px;
}

.works__item:last-child{
    margin-right: 0;
}


.works__number {
    color: #8491A0;
    font-size: 80px;
}


.text-color_green {
    color: #3CC74E;
}

.text-color_blue {
    color: #609BFF;
}


.text-color_red {
    color: #E95D90;
}

.works__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 22px;
}

.works__desc {
   font-size: 16px;
    text-align: left;
    padding-right: 45px;
}


/*Philosophy*/

.philosophy {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.philisophy__item {
    background: url(../images/philisophy/background_philosophy.png);
}


.philosophy__title {

    padding: 120px 70px 25px 65px;

    color: black;
    font-size: 55px;
    font-weight: 700;
}


.philosophy__text {
    color: #5B6876;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 135px;
    text-align: left;
    font-weight: 100;
}


.philisophy__link {
    color: black;
    font-size: 14px;
    margin-left: 70px;
    text-decoration: none;
}

.philisophy__link:after {
    content: "";
    display: block;
    width: 115px;
    height: 0.5px;
    background-color: black;
    margin-top: 5px;
    margin-left: 70px;
}

.philisophy__img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}


/*Skillset*/

.skillset {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}


.skillset__text {
    margin-top: 25px;
    padding-right: 70px;
}



.skills {
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 50px;
}


.skills__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 12px;
}

.skills__text {
    font-size: 16px;
}

/*Icons*/

.icons {
    
    display: flex;
    justify-content: center;
}

.icon__item {
    border:1px solid #181823;
    padding: 55px 120px;
}


/*Project*/

.project {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 25px;
    margin-bottom: 150px;
}

.project__card {

    background-color: #181823;
    width: 100%
}


.project__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
    padding-left: 24px;
}

.project__photo {
    vertical-align: top;
}




.project__text {
    padding: 8px 30px 40px 30px;
}


.project__button {
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    background-color: transparent;
    margin-top: 90px;
    margin-left: 220px;
    padding: 24px 32px;
    border: 1px solid #181823;
    cursor: pointer;
}


/*Instagram*/


.instagram {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.instagram__item {
    background: url(../images/instagram/instagram_background.jpg);
}


.instagram__title {
    margin-top: 120px;
    margin-bottom: 25px;
    padding-right: 70px;
    padding-left: 65px;
    color: black;
    font-size: 55px;
    font-weight: 700;
}


.instagram__text {
    color: #5B6876;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 135px;
    text-align: left;
    font-weight: 100;
}


.instagram__link {
    color: black;
    font-size: 14px;
    margin-left: 70px;
    text-decoration: none;
}

.instagram__link:after {
    content: "";
    display: block;
    width: 115px;
    height: 0.5px;
    background-color: black;
    margin-top: 5px;
    margin-left: 70px;
}

.instagram__img {
    width: 100%;
    height: 100%;
}


/*Dribbble*/

.dribbble {
    display: flex;
    flex-direction: column;
    margin: 120px 180px;
}


.dribbble__text {
    margin-bottom: 40px;
    padding-right: 440px;
}

.dribbble__link {
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    margin-bottom: 120px;
}


.dribbble__link:after {
    content: "";
    display: block;
    width: 170px;
    height: 0.5px;
    background-color: #8491A0;
    margin-top: 5px;
}



/*Reviews*/


.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-bottom: 120px;
}



.reviews__intro__text {
    margin-bottom: 40px;
    padding-right: 25px;
}


.reviews__intro__link {
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}


.reviews__intro__link:after {
    content: "";
    display: block;
    width: 150px;
    height: 0.5px;
    background-color: #8491A0;
    margin-top: 5px;
}

.reviews__item {
    border: 1px solid #8491A0;
    margin-bottom: 120px;

}

.reviews__info {
    padding: 65px;
}

.reviews__img {
    width: 100%;
}

.reviews__text {
    font-weight: 700;
    color: #FFF;
    font-size: 24px;
    margin-bottom: 65px;
}

.reviews__name {
    font-weight: 700;
    font-size: 24px;
    color: #5B6876;
    margin-bottom: 5px;

}



/*Photo*/

.photo {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.photo__description {
    padding-right: 640px;
}


.photo__text {
    margin-bottom: 65px;
}

.photo__links {
    margin-bottom: 40px;
}

.photo__nav {
    text-transform: uppercase;
    color: #FFF;
    font-size: 18px;
    padding: 12px 16px;
    border: 1px solid  #5221E6;
    text-decoration: none;
    margin-right: 25px;
}


.photo__nav:hover {
    background-color:  #5221E6;
}

.photo__container {
    display: flex;
    justify-content: space-between;
}


.photo__images {
    transition: 1s ;
}


.photo__images:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

/*Contact*/


.contact {

    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 0 110px;
}


.form__title {
    font-size: 16px;
    color: #FFF;
}



.form__title {
    font-size: 16px;
    margin-bottom: 10px;
}


.form__input {
    background-color: #181823;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    font-size: 16px;
    font-style: italic;
    padding-left: 5px;
}


.form__textarea {
    background-color: #181823;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    border: none;
    min-height: 100px; 
    color: white;
    font-size: 16px;
    font-style: italic;
    padding-left: 5px;
}


.subscribe__btn{
    width: 100%;
    background-color:  #5221E6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 24px 18px;
    color: #FFF;
    text-align: center;
    border: none;
    cursor: pointer;
}


/*Footer*/


.footer{ 
    padding: 80px 70px;
    background-color: #181823;
}


.footer__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 230px;
}

.footer__logo{
    margin-bottom: 35px;
}


.footer__icons {
    margin-bottom: 140px;
}



.footer__icon {
    margin-right: 15px;
}



.footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
}


.footer__nav {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    text-align: left;

}

.footer__link:not(:last-child) {
    margin-bottom: 35px;
}


.links__column {
    max-width: 200px;
}

.copyright {
    color: #8491A0;
    font-size: 16px;
}



@media (max-width: 1200px) {

    .container {
        padding: 0 15px;;
    }


    h1 {
        font-size: 50px;
    }

     /*Intro*/

     .intro__title-gray {
        font-size: 45px;
     }

     .intro__info {
        margin-bottom: 0;
     }

     .intro__text {
        font-size: 14px;
     }


     .intro__text {
        padding-right: 40px;
     }

     /*Section*/
      .section__title {
        font-size: 45px;
      }
    

    /*Philosophy*/

    .philosophy__text {
        margin-bottom: 70px;
    }

   
    .philisophy__link:after {
        margin-bottom: 30px;
    }

    /*Icons*/

    .icon__item {
        padding: 45px 100px;
    }


    /*Project*/

    .project__column {
        max-width: 510px;
    }

    .section__projects {
        max-width: 510px;
    }

    .project__button {
        margin-left: 150px;
    }

    /*Instagram*/


    .instagram__text {
        margin-bottom: 70px;
    }

    .instagram__link:after  {
        margin-bottom: 30px;
    }

    /*Reviews*/

    .reviews {
        gap: 25px;
    }

    .reviews__item {
        margin-bottom: 80px;
    }


    /*Dribbble*/

    .dribbble__text {
        padding-right: 220px;
    }

    /*Photo*/

    .photo__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        
    }

    .section__title {
        font-size: 40px;
    }
    .project__card {
        max-width:  508px;
    }
    .project__photo {
        max-width: 508px;
    }

  
}

@media (max-width: 990px) {
    /*Intro*/

    h1 {
        font-size: 60px;
    }


    .header__intro__background {
        background: none;
    }


    .intro__info {
        margin-bottom: 0;
        
    }

    .intro__title-gray {
        font-size: 55px;
    
    }


    .intro__title {
        padding: 217px 106px 220px 229px;
        font-size: 55px;
    }

    .intro__text {
        font-size: 16px;
    }


    .intro__photo {
        opacity: .4;
    }


    /*Philisophy*/

    .philosophy__title {
        font-size: 45px;
        padding: 100px 60px 25px 65px;
    }

    .philosophy__text {

        font-size: 16px;
    }


    /*Icons*/

    .icon__item {
        padding: 25px 70px;
    }


    /*Projects*/

    .project__column {
        max-width: 410px;
    }

    .project__photo {
        max-width: 100%;
    }

    .project__button {
        margin-left: 100px;
    }


      /*Instagram*/

      .instagram__title {
        font-size: 45px;
        margin-top: 90px;
    }

    .instagram__text {

        font-size: 16px;
    }


    /*Dribbble*/

    .dribbble {
        margin: 90px 100px;
    }


    .dribbble__link {
        margin-bottom: 100px;
    }

    .dribbble__text {
        padding-right: 220px;
    }

    /*Reviews*/


    .reviews__info {
        padding: 30px;
    }

    .reviews__text {
        font-size: 20px;
        margin-bottom: 40px;
    }


    /*Photo*/

    .photo__description {
        padding-right: 440px;
    }

    .photo__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    

    /*Contact*/

    .contact {
        padding: 0 80px;
    }
}



@media (max-width: 770px) {


    /*Container*/

    .container {
        margin-top: 80px;
        padding: 0 40px 0 40px;
        
    }


    /*Intro*/

    .header__intro__background {
        background: none;
    }

   .intro__image {
        display: none;
   }

   .intro__info {
        background: url(../images/intro/intro_small.png);
        background-repeat: no-repeat;
        margin-bottom: 0;
   }


    .intro__title{
        padding: 110px 80px 150px 281px;
    }

    .intro__text {
        padding-right: 70px;
    }

    /*Section*/

    .section__suptitle {

        font-size: 16px;
    }


    .section__title {

        font-size: 55px;
    }

    .section__narrow{
        width: 90%;
    }

    .section__projects {
        max-width: 100%;
    }


    /*work experience*/

    .work__experience {
        margin-bottom: 90px;
    }


    .works__number {
        font-size: 110px;
    }



    /*Philisophy*/


    .philisophy__item:first-child {
        background: url(../images/philisophy/background_philosophy.png);
        background-repeat: no-repeat;
    }

    .philisophy__item:last-child{
        background: url(../images/philisophy/philosophy_small.png);
        background-repeat: no-repeat;
    }
    .philosophy__title {
        font-size: 55px;
        padding: 80px 40px 25px 40px
    }

    .philosophy__text {
        margin: 0 40px 70px 40px;
    }

    .philisophy__link {
        font-size: 12px;
        margin-bottom: 80px;
    }

    .philisophy__link:after{
        width: 90px;
        margin-bottom: 80px;
    }


    .philisophy__img {
        display: none;
    }

    /*Skills*/

    .skillset {
        display: block;
    }

    .skills {
        margin-top: 40px;
        gap: 50px 70px;
        margin-bottom: 80px;
    }


    /*Icons*/

    .icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .icon__item {
       
        align-items: center;
        padding: 50px 100px;
        
    }


    /*Project*/


    .project {
        display: block;
        margin-bottom: 0;
    }

    .project__column {
        max-width: 100%;
    }


    .project__card {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .project__photo {
        width: 100%;
    }


    .project__button {
        display: none;
    }


    /*Dribbble*/


    .dribbble{
        margin: 80px 40px;
    }

    .dribbble__text {
        padding: 0;
    }

    /*Reviews*/

    .reviews__item {
        margin-bottom: 60px;

    }

    /*Photo*/


    .photo__description {
        padding: 0;
    }

    .photo__container {
        align-items: center;
    }

    .photo__images {
        vertical-align: top;
        width: 100%;
    }


    /*Contact*/


    .contact {
        padding: 0;
    }

}



@media (max-width: 667px) {

    /*header*/

    .header {
        height: 70px;
        padding-top: 24px;
    }


    .nav__link {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    /*Intro*/

    .intro__title {
        padding: 105px 42px 150px 232px;
    }


}

@media (max-width: 575px) {
    /*Intro*/

    .intro {
        display: block;
        background: url(../images/intro/intro_photo575\ square.jpg);
        background-repeat: no-repeat;
    
        border-bottom: #ababab dotted 1px;
        
    }

    .intro__info{
        background: none;
        position: static;
    }

    .intro__photo {
        display: none;
    }


    .intro__title {
        padding: 0;
        position: static;
        padding-top: 600px;
        text-align: left;

    }

    h1 {
        font-size: 48px;
        padding: 0 20px
    }

    .intro__title-gray {
        font-size: 48px;
        padding: 0 20px
    }


    .intro__text {
        font-size: 20px;
        line-height: 1.5;
        padding: 0 20px;
        margin-bottom: 50px;
    }

    /*Section*/

    .section {
        margin-top: 50px;
    }


    .section__title {
        font-size: 40px;
    }

    /*Work experience*/

    .works__desc {
        padding: 0;
        font-size: 14px;
    }

    /*Philosophy*/


    .philosophy {
        display: block;
        background-color: #fff3e4;
    }

    .philisophy__item:first-child{
        margin-bottom: 80px;
    }

    .philisophy__img {
        display: block;
    }

    .philosophy__title {
        font-size: 45px;
    }


    .philosophy__text {
        margin-bottom: 40px;
    }


    .philisophy__link:after{
        width: 90px;
        margin-bottom: 0;
    }


    /*Instagram*/

    .instagram {
        display: block;
        background-color: #fbe4ff;
        margin-top: 80px;
    }

    .instagram__item:first-child{
        margin-bottom: 80px;
    
    }

    .instagram__img {
        display: block;
    }

    .instagram__title {
        font-size: 45px;
        padding-top: 80px;
    }


    .instagram__text {
        margin-bottom: 40px;
    }


    .instagram__link:after{
        width: 90px;
        margin-bottom: 0;
        width: 110px;
    }


    /*Reviews*/

    .reviews {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }


    /*Photography*/

    .photo__nav {
        margin-right: 5px;
    }


    .photo__images:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
    }


    /*Contact*/

    .contact {
        display: flex;
        flex-wrap: wrap;
    }


    .contact__form {
        width: 100%;
    }


    /*Footer*/

    .footer__columns {
        gap: 25px;
    }

}

